<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Camera Control XY Robotic">
    <meta name="author" content="">

	<title>Camera Control XY Robotic</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">

</head>
<body>
    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills float-xs-right">
            <li class="nav-item">
              <a class="nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
          </ul>
        </nav>
        <h3 class="text-muted">Camera Control XY Robotic</h3>
      </div>

      <div class="row marketing">
       {% block body %}{% endblock %}
      </div>

      <div id="msg"></div>

      <footer class="footer">
        <p>&copy; Company 2014</p>
      </footer>

    </div> <!-- /container -->
<script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
   
	 <script type="text/javascript">
$(document).ready(function(){
  $('button.command').click(function(event){
    event.preventDefault();
    var name = $(event.currentTarget).attr('name');
    var type = name.split('-')[0];
    var action = name.split('-')[1];
    
    $('.status').html('<div class="alert alert-info" role="alert">sending command!</div>');
     $.post('/commands/' + type + '/' + action, function(res) {
      // Successfully
      setTimeout(function() {
        $('.status').html('<div class="alert alert-success" role="alert">Sent Successfully! [type: ' + res.type + ', action: ' + res.action + ']</div>');
      }, 500);
      //Send messages to thr GUI screen

      //Return Commands for the user
      //document.ActionMessages.ActionMessages.value=res.Amess
      //Return target coordinates
      //document.coordinate.Xcoordinate.value=res.Xval
      //document.coordinate.Ycoordinate.value=res.Yval

      //Return the status of the program
      //document.StatusMessages.StatusMessages.value=res.Smess
      $("#msg").html(res.amsg)



     }).done(function(done) {
      // Command Sent action is done.
      setTimeout(function() {
        $('.status').html('');
      }, 3000);
     }).fail(function(err) {
      console.log(err);
      alert('something went wrong');
     });
  });
});
</script>
</body>

</html>